html, body {
  height: 100%;
}

body {
  background-image: url("../img/hypercode.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: whitesmoke;
  text-shadow: 3px 2px #333;
  letter-spacing: 2px;
}

.flex-container {
  display: flex;
  background-image: linear-gradient(to bottom right, #501a1acc, rgb(37, 55, 133));
  opacity: 0.9;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  background-size: cover;
  height: 100%;
}

.result {
  display: none;
  text-decoration: underline;
}

.jumbotron {
	background-image: radial-gradient(rgb(22, 245, 41) 5%, rgb(36, 81, 228) 15%, rgba(54, 4, 77, 0.918) 80%);
	box-shadow: 0 0 15px rgba(54, 4, 77, 0.918);
	border-color: transparent;
  color: rgb(255, 24, 24);
  border-radius: 50%;
  margin: 0% 25%;
  margin-bottom: 20px;
  text-decoration: none;
}

form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: none;
}

form img {
  height: 50px;
}

form#form-one {
  display: block;
}

.btn-default {
	box-shadow: 0px 14px 14px -7px #518739;
	background:linear-gradient(to bottom, #aed69a 5%, #72b352 100%);
	background-color:#aed69a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#1a151a;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:8px 35px;
	text-decoration:none;
}
.btn-default:hover {
	background:linear-gradient(to bottom, #72b352 5%, #aed69a 100%);
	background-color:#72b352;
}
.btn-default:active {
	position:relative;
	top:1px;
}

.btn-danger {
	box-shadow: 0px 14px 14px -7px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #cc1a1a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:8px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-danger:hover {
	background-color:#4e0b06;
}
.btn-danger:active {
	position:relative;
	top:1px;
}
